@import "{}/node_modules/flexlayout-react/style/light.scss";

// Override button placement
.flexlayout__tab_button_trailing { margin-top: 0; }
.flexlayout__tab_button_overflow { width: auto; padding-left: 6px; }

.flexlayout__tab_toolbar_button-fa {
  background: transparent;
  // @include toolbar_button;
  width: auto;
  height: 20px;
  border: none;
  outline-width: 0;
}

.flexlayout__tab_button_leading, .flexlayout__border_button_leading {
  padding-right: 0.5ex;
}
