body
  overflow: hidden

\:root // light mode needs darker version of these colors for foreground text
  --warning-fg: #a8871f
  --danger-fg: #c83342
.dark
  --warning-fg: var(--warning)
  --danger-fg: var(--danger)

#react-root
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

iframe
  width: 100%
  height: 100%
  overflow: hidden
  position: absolute
  background: white

nav
  display: flex
  justify-content: center
  align-items: center
  background-color: var(--flexlayout-color-2)  // .flexlayout__border_left
  padding: 3px 0.25rem
  a, a:visited { color: inherit !important }

.toggle.card-header
  cursor: pointer
  svg.float-right
    margin-top: 0.25em

.sidebar
  .card
    overflow: visible !important  // allow Sort By to spill out of card
  .card-header
    padding: 0.25rem // 0.75rem
    text-align: center
    font-size: 80%
    font-weight: bold
    &.tight
      padding-bottom: 0
    .float-right
      margin: 0.25rem
  .card-body
    padding: 0
    .form-control
      margin: -1px
    .search-icon
      position: absolute
      right: 0.25rem
      margin: 0.25rem
      margin-top: 0.75rem
      font-size: 80%
      cursor: pointer
  .compact
    padding: 0.25rem 1rem 0.25rem 0.25rem
    font-size: 80%
  // Give dismissible alerts normal margin; instead use float for close button
  .alert-dismissible
    padding-right: 1.25rem
    margin-top: 1rem  // match bottom margin
    .close
      position: static
      float: right
      padding: 0 0 0.25rem 0.5rem !important

.room-title, .tab-title
  &.new
    color: var(--warning-fg)
    font-weight: bold
  &.archived
    color: var(--danger-fg)
    font-style: italic

.room-info
  color: black
  &:hover
    color: #003e80
  &:active
    color: #0069d9

  /*
  &.presence-starred
    background-color: var(--list-group-item-secondary-bg)
    &:hover, &:focus
      background-color: var(--list-group-item-secondary-bg-1)
  */
  &.presence-joined
    background-color: var(--list-group-item-primary-bg)
    &:hover, &:focus
      background-color: var(--list-group-item-primary-bg-1)
  &.selected
    background-color: var(--list-group-item-secondary-bg)
    &:hover, &:focus
      background-color: var(--list-group-item-secondary-bg-1)
  &.archived
    &, &:hover, &:focus
      .room-title
        color: var(--danger-fg)
        font-style: italic

  .room-title
    // Break words in room names if too big for sidebar
    overflow-wrap: anywhere

  .raise-hand
    float: right
    clear: right
    margin-left: 0.5rem
    margin-right: -0.75rem
    z-index: 1
    opacity: 0.5
    color: var(--danger-fg)
    &:hover
      opacity: 0.65
    &:active
      opacity: 0.8
    &.active
      opacity: 1.0
      &:hover
        opacity: 0.8
      &:active
        opacity: 0.65
      svg
        transform: scale(1)
        animation: pulse 2s infinite ease-in-out
    .timer
      opacity: 1
      margin-right: 0.25rem

  .presence-count
    float: right
    clear: right
    margin-left: 0.25rem
    margin-right: -0.85rem
    display: flex
    flex-direction: row
    justify-content: flex-end
    //font-size: 75%
    > span
      margin-left: 0.25rem
      &.presence-starred
        color: var(--warning-fg)
        &:hover
          opacity: 0.8
        &:active
          opacity: 0.65
      > svg
        margin-left: 0.1em
        //font-size: 0.77em
        &[data-icon="star"]
          margin-right: -0.13em // better alignment with hand icon

  .adminVisit
    float: right
    clear: right
    margin-left: 0.5rem
    margin-right: -0.75rem

.presence
  font-size: 75%
  > span
    margin-right: 0.5em
    white-space: nowrap  // prevent line break between icon and name
    &.presence-starred
      color: var(--warning-fg)
    > svg
      font-size: 0.77em
    > span
      white-space: normal  // allow line break within name

.admin
  color: #8224df  // purple from logo
  &:focus
    color: #671eaf  // purple from logo
  /.dark &
    color: #9b5bda
    &:focus
      color: #b388dd
  /.presence &
    font-weight: bold

.btn-outline-warning
  color: var(--warning-fg)
  border-color: var(--warning-fg)

.hand-count
  user-select: none

@keyframes pulse
  0%, 100%
    transform: scale(1)
    filter: drop-shadow(0 0 0.1px #444)
  50%
    transform: scale(1.2)
    filter: drop-shadow(0 0 1px #444)

.Room
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  .header
    padding: 0.25rem 0.5rem
    background: linear-gradient(#fff, #bcc5c8)
    /.dark &
      background: linear-gradient(#000, #374043)
    display: flex
    flex-direction: row
    align-items: center
    .room-title
      // Prevent selection from interfering with drag or double click
      // in div.room-title, but allow it in input.room-title:
      &div
        user-select: none
      flex-grow: 1
    div.room-title
      cursor: pointer
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    input.room-title
      border: none
      padding: 0
      color: green  // like FlexLayout
      background: #fff
      /.dark &
        color: lightgreen
        background: #000
  .container
    position: relative
    flex-grow: 1

.flexlayout__tab_button_trailing, .icon-button
  cursor: pointer
  &:hover
    color: #333
    /.dark &
      color: #ccc
  &:active
    color: #555
    /.dark &
      color: #aaa

.chat
  height: 100%
  display: flex
  flex-direction: column
  .messages
    flex-grow: 1
    overflow: auto
    padding: 0.5rem
  .message
    line-height: 130%
    margin-bottom: 0.5rem
  .date
    margin-bottom: 0.5rem
    text-align: center
    // Horizontal line wrapper from
    // https://stackoverflow.com/a/14731123/7797661
    overflow: hidden
    &:before, &:after
      background-color: var(--black)
      content: ""
      display: inline-block
      height: 1px
      position: relative
      vertical-align: middle
      width: 50%
    &:before
      right: 0.3rem
      margin-left: -50%
    &:after
      left: 0.3rem
      margin-right: -50%
  .header
    font-size: 80%
    display: flex
    flex-wrap: wrap
    margin-bottom: -0.1rem
    .sender
      font-weight: bold
    .sent
      flex-grow: 1
      text-align: right
      margin-left: 1rem
      color: var(--gray-600)
  .body
    overflow-wrap: anywhere

.highlight
  background: hsla(60,71%,50%,0.4)

.text-help
  text-decoration: dotted underline gray
  cursor: help

table.table.VisitedMeetings
  width: 100%
  margin-bottom: 0
  tr
    td
      padding: 0  // move Bootstrap's padding of 0.3rem for link targeting
      > a
        padding: 0.3rem
        display: block
        color: inherit
    &:hover td
      background-color: #5cb85c
      text-decoration: underline
      /.dark &
        background-color: #2c592c
