#react-root
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

iframe
  width: 100%
  height: 100%
  overflow: hidden
  position: absolute

nav
  display: flex
  justify-content: center
  align-items: center
  background-color: #d6dcde  // .flexlayout__border_left
  padding: 3px 0

.room-info
  color: black

  &.room-info-visible
    background-color: #b8daff  // list-group-item-primary
  &.room-info-invisible
    background-color: hsl(220,6%,95%)  // list-group-item-secondary, but brighter

  .presence
    font-size: small
    > span
      display: inline-block
      margin-right: 1rem
    > .presence-invisible
      color: rgba(0,0,0,0.333333333) // #aaa
